<a href="https://colab.research.google.com/github/Ballyj/Data-Science-Assignment/blob/main/Chipotle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [9]:

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chip = pd.read_csv(url, sep="\t")
chip.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [10]:
# Solution 1

chip.shape[0]

4622

In [11]:
# Solution 2

chip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [12]:
chip.shape[1]

5

In [13]:
chip.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [14]:
chip.index

RangeIndex(start=0, stop=4622, step=1)

In [15]:
c = chip.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

<ipython-input-15-ad400aa257c5>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  c = c.sum()

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [16]:
c = chip.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

<ipython-input-16-ad400aa257c5>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  c = c.sum()

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [17]:
c = chip.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

<ipython-input-17-9ed2663c2e63>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  c = chip.groupby('choice_description').sum()

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [18]:
total_items_orders = chip.quantity.sum()
total_items_orders

4972

In [19]:
chip.item_price.dtype

dtype('O')

In [20]:
dollarizer = lambda x: float(x[1:-1])
chip.item_price = chip.item_price.apply(dollarizer)

In [21]:
chip.item_price.dtype

dtype('float64')

In [23]:
import numpy as np
revenue = (chip['quantity']* chip['item_price']).sum()

print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

In [24]:
orders = chip.order_id.value_counts().count()
orders

1834

In [25]:
chip['revenue'] = chip['quantity'] * chip['item_price']
order_grouped = chip.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

<ipython-input-25-5e0bfac9667f>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  order_grouped = chip.groupby(by=['order_id']).sum()

21.39423118865867

In [26]:
chip.item_name.value_counts().count()

50